@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #FFF9CA, #FFDEB4, #FFB4B4, #B2A4FF) no-repeat;
    background-size: 300% 300%;
    animation: linearGradient 7s ease infinite;
}

@keyframes linearGradient {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.container {
    width: 80%;
    max-height: 90%;
    align-items: space-between;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin: auto;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#fff, rgb(245, 245, 245));
    padding: 13.4cm 1cm 1cm 1cm;
    overflow:auto; 
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 21rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #f50057;
    padding: 14rem auto;
    background-position-x: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.select-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.select-input-box{
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.select-input-box select {
    margin: 0.4rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.select-box label,
.select-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.select-input-box label,
.select-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.select-input-box input{
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 400px;
}

.select-input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.select-input-box input:hover {
    background-color: #eeeeee75;
}

.select-input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #000;
}

.cadastrar-button button {
    width: 100%;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.cadastrar-button button:hover {
    background-color: #6b63fff1;
}

.cadastrar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}